doctype xml
svg#close_button(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve")
  path#close_path(fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" d="M5.1,4.6l188.5,188.5 M5.1,193.2L193.7,4.6")
  X
