doctype xml
svg.play_button(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve")
  path(stroke="#FFF" fill="none" stroke-miterlimit="10" d="M38.3,176.7V23.3c1.9-1.9,5-1.9,6.9,0l115.1,73.5c1.9,1.9,1.9,5,0,6.9l-115.1,73C43.3,178.6,40.2,178.6,38.3,176.7z")
  X
