doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" href="/stylesheets/styles.css")
    script(src="js/app.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js")
    script(src="https://use.typekit.net/toe5fzb.js")
    script(try{Typekit.load({ async: true });}catch(e){})
    title Weckel Portfolio
  body
    #stage.page_active-1
      include ./includes/menu/menu_icon.jade
      include ./includes/menu/menu.jade
      include ./includes/1/homepage.jade
      include ./includes/1/shape-1.jade
