doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0,user-scalable=no')
    link(rel="stylesheet" href="/stylesheets/styles.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js" defer)
    script(src="js/MorphSVGPlugin.min.js" defer)
    script(src="js/loader.js" defer)
    script(src="js/app.js" defer)
    title Weckel Portfolio
  body
    #stage.page_active-1.container_loading_active
      #menu_icon_container.clickable
        include ./includes/menu/menu_icon.jade
      #close_button_container.clickable
        include ./includes/menu/close_button.jade
      include ./includes/menu/menu.jade
      include ./includes/1/homepage.jade
