doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Weckel Portfolio
  body
    #stage.page_active-1
      include ./includes/menu.jade