#page-2.page
  h1#about The Work
  #zoetrope_container
    div#zoetrope_carousel.active-1
      div.zoetrope_item#zoetrope_item-1
        div.zoetrope_item_inner
        div.zoetrope_item_overlay
          h2.zoetrope_overlay_title Dreams
      div.zoetrope_item#zoetrope_item-2
        div.zoetrope_item_inner
        div.zoetrope_item_overlay
          h2.zoetrope_overlay_title Stallone Mastermind
      div.zoetrope_item#zoetrope_item-3
        div.zoetrope_item_inner
        div.zoetrope_item_overlay
          h2.zoetrope_overlay_title Static Music Video
      div.zoetrope_item#zoetrope_item-4
        div.zoetrope_item_inner
        div.zoetrope_item_overlay
          h2.zoetrope_overlay_title Ferrari GT Short Film
      div.zoetrope_item#zoetrope_item-5
        div.zoetrope_item_inner
        div.zoetrope_item_overlay
          h2.zoetrope_overlay_title Pitchstarter
      div.zoetrope_item#zoetrope_item-6
        div.zoetrope_item_inner
        div.zoetrope_item_overlay
          h2.zoetrope_overlay_title Crossing Dumbo Web Series
    div.carousel_arrow#carousel_arrow-left
    div.carousel_arrow#carousel_arrow-right
  include ../extras/arrow-2.jade