#page-2.page
  h1#about The Work
  #zoetrope_container
    div#zoetrope_carousel.active-1
      div.zoetrope_item#zoetrope_item-1
      div.zoetrope_item#zoetrope_item-2
      div.zoetrope_item#zoetrope_item-3
      div.zoetrope_item#zoetrope_item-4
      div.zoetrope_item#zoetrope_item-5
      div.zoetrope_item#zoetrope_item-6
    div.carousel_arrow#carousel_arrow-left
    div.carousel_arrow#carousel_arrow-right
  include ../extras/arrow-2.jade