@import 'partials/colors';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);


@keyframes bounce {
  from{transform: translateY(-700%) scale(1)}
  to{transform: translateY(-700%) scale(1.1)}
}

@keyframes slide {
  from{transform: translateX(-500%); opacity: 0;}
  to{transform: translateX(0); opacity: 1;}
}

@keyframes bgColorFlash {
  0%{opacity: 0}
  5%{opacity: 1}
  60%{opacity: 1}
  100%{opacity: 0}
}

@keyframes getAttention {
  0%  {transform:  translate3d(0,-60%, 0);}
  5%  {transform:  translate3d(0,-60%, 0);}
  10% {transform:  translate3d(0,-80%, 0);}
  13% {transform:  translate3d(0,-60%, 0);}
  16% {transform:  translate3d(0,-76%, 0);}
  19% {transform:  translate3d(0,-60%, 0);}
  22% {transform:  translate3d(0,-68%, 0);}
  25% {transform:  translate3d(0,-60%, 0);}
  100%{transform:  translate3d(0,-60%, 0);}
}

@keyframes buttonPulsing {
  0%  {transform:   scale(1.3);}
  100%{transform: scale(1.7);}
}

#stage{
	height: 100%;
	width: 100%;
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: hidden;
	// position: relative;
  #page-1{
    height: 100%;
    width: 100%;
    transition: all 3s ease-out;
    &:before{
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $color-pink;
      opacity: 0;
    }
    #logo_container{
      height: 170px;
      width: 120px;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-60%);
      .transition{
        transition: all .1s ease;
      }
      #logo_mover{
        height: 100%;
        width: 100%;
      }
        .logos{
          height: 125px;
          width: 25px;
          position: absolute;
          transform-origin: center;
          top: 37.5px;
          left: 0;
          right: 0;
          margin: 0 auto;
          &:after{
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: -30px;
            left: 40px;
            background-color: $color-pink;
          }
          &:before{
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: -30px;
            left: -40px;
            background-color: $color-pink;
          }
        }
        #logo{
          background-color: $color-pink;
          &:after{
          	background-color: $color-pink;
          }
          &:before{
          	background-color: $color-pink;
          }
        }
        #logo_clone{
          background-color: #fff;
          opacity: 0;
          &:after{
            background-color: #fff;
          }
          &:before{
            background-color: #fff;
          }
        }
      #button{
        height: 150px;
        width: 150px;
        // background-color: $color-red;
        background: linear-gradient(to bottom, rgba(255,255,255,.4)0%, rgba(255,255,255,0)20%, rgba(0,0,0,.2)100%), $color-red;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: -15px;
        transform: scale(0);
        z-index: 99;
        &:before{
          content: '';
          position: absolute;
          background: linear-gradient(to top, rgba(0,0,0,.2)0%, rgba(255, 255, 255, .5) 100%);
          height: 90%;
          width: 90%;
          left: 5%;
          top: 5%;
          border-radius: 50%;
          z-index: 99;
        }
        &:after{
          content: '';
          position: absolute;
          background: $color-red;
          height: 85%;
          width: 90%;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: 7%;
          border-radius: 50%;
          z-index: 99;
        }
        #button_pulse{
          height: 100%;
          width: 100%;
          pointer-events: none;
          z-index: -1;
          opacity: 0;
          transition: all 1.5s ease;
          &:before{
            content: '';
            position: absolute;
            border: 7px solid rgba(243,8,8,.7);
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            opacity: 1;
            border-radius: 50%;
            box-sizing: border-box;
          }
        }
        &:hover{
          #button_pulse{
            opacity: 1;
            animation: buttonPulsing 1s ease infinite alternate;
          }
        }
      }
      &.ground_zero{
          animation: getAttention 5s ease-out infinite;
      }
      &.ground_zero_delay{
          animation: getAttention 5s ease-out 1s infinite;
      }
      &.morph-circle{
        #logo_mover{
          opacity: 0;
          transform: scale(0);
        }
        #button{
          opacity: 1;
          transform: scale(1);
          &.button_down{
            &:after{
              transform: scale(1.1,1.15);
            }
          }

        }
      }
      &.morph-up{
        #logo_mover{
          transform: translate3d(0%,-200%,0);
        }
      }
      &.morph-right{
        #logo_mover{
          transform: translate3d(-400%,0%,0);
        }
      }
      &.morph-left{
        #logo_mover{
          transform: translate3d(400%,0%,0);
        }
      }
      &.morph-down{
        #logo_mover{
          transform: translate3d(0%,200%,0);
        }
      }
    }
    #contact{
      font-size: 14px;
      color: black;
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 145px;
      opacity: 0;
      animation: slide 1s ease 1;
      animation-delay: 5s;
      animation-fill-mode: forwards;
    }
    &.flash_animation{
      &:before{
        animation: bgColorFlash .25s ease 1;
      }
      #logo_container{
        #logo_clone{
          opacity: 1;
        }
      }
    }
  }
  &.page_active-1{
    #page-1{
      transform: scale(1);
    }
  }
  &.page_active-2{
    #page-1{
      transform: scale(0);
      opacity: 0;
    }
    #page-2{

    }
  }
}