@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/loading';
@import 'partials/title';
@import 'reset.scss';

//Mixins
@mixin playButtonActive{
  animation: fillPlayButton .25s linear;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  opacity: 1;
}

$timelapseReels: 2; //only change this
$timelapseFrames: 25;
$timelapseContainerWidth: ((100 * $timelapseFrames) * $timelapseReels) + %;
$timelapseDiff: 100/$timelapseReels;
html{
  height: 100%;
}
body{
  height: 100%;
  color: #fff;
  background-color: $bg-black;
  font-size: 20px;
  transition: all .3s ease;
  font-family: $font-primary, sans-serif;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.clickable{
  cursor: pointer;
}

#stage{
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
  #home_icon{
    height: 40px;
    width:  40px;
    position: fixed;
    top: 15px;
    left: 10px;
    z-index: 9999;
    overflow: visible;
    opacity: .25;
  }
  #film_icon{
    display: none;
  }
  #menu_icon_container{
      height: 90px;
      width: 90px;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 999999;
      transform: translateZ(500px);
    #menu_icon{
      position: absolute;
      height: 33%;
      width: 33%;
      top: 30px;
      left: 30px;
      pointer-events: none;
    }
  }
  #close_button_container{
      height: 90px;
      width: 90px;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 999999;
      transform: translateZ(500px);
      pointer-events: none;
    #close_button{
      position: absolute;
      height: 33%;
      width: 33%;
      top: 30px;
      left: 30px;
      display: none;
    }
  }
  #menu_container{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,.75) 0%, rgba(0,0,0,1) 100%);
    transform: scale(1.3);
    transition: all 1s ease;
    opacity: 0;
    z-index: 9999;
    pointer-events: none;
    #menu_titles{
      top: 40%;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 0;
      #menu_heading{
        font-size: 2.4em;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: relative;
        text-align: center;
        margin-bottom: 8px;
        font-weight: 300;
      }
      #menu_subheading{
        font-size: .8em;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: relative;
        text-align: center;
        font-family: $font-secondary;
      }
    }
    #menu_contact{
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10%;
      letter-spacing: 5px;
    }
    .nav_option{
      display: none;
    }
  }

  #stage.menu_active {
    #menu_icon_container{
      pointer-events: none;
    }
    #close_button_container{
      pointer-events: auto;
    }
  }
  #stage.menu_active #menu_container{
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
    transition: all 1.5s ease-in;
    #menu_titles{
      transition: 1s opacity ease-in;
      transition-delay: 1s;
      opacity: 1;
      #menu_heading{
        transition: all .3s ease;
      }
      #menu_subheading{
        transition: all .3s ease;
      }
    }

  }

  .page{
    height: 100%;
    width: 100%;
    overflow: hidden;
    // border-bottom: 1px solid rgba(0,0,0,0.5);
    transition: all .5s ease;
    scroll-behavior: smooth;
    position: relative;
  }
  .page:target{
    transition: all .3s ease;
  }
  #page-1{
    background-color: #000;
  }
    #timelapse_container{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      #timelapse_inner{
        position: relative;
        height: 100%;
        width: $timelapseContainerWidth;
        top: 0;
        left: 0;
        .timelapse_reel{
          position: absolute;
          width: $timelapseDiff+%;
          height: 100%;
          top: 0;
          background-size: cover;
          background-position: left center;
          background-repeat: no-repeat;
        }
        #timelapse_reel-1{
          background-image: url('../imgs/tl-1b.jpg');
          left: 0;
          width: 50%;
        }
        #timelapse_reel-2{
          background-image: url('../imgs/tl-2b.jpg');
          left: $timelapseDiff + %;
        }
      }
      &.background-switch{
        #timelapse_inner .timelapse_reel{
          background-size: 100% 100%;
        }
      }
    }
    #timelapse_container.background-switch ~ #timelapse_overlay{
      background-size: 100% 100%;
    }
    #scrub_hotspot_container{
      position: absolute;
      height: 16%;
      width: 100%;
      bottom: 0;
      left: 0;
      transition: opacity 1s;
    }
      #scrub_hotspot{
        height: 100px;
        width: 100px;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: none;
        top: 0;
        #scrub_hotspot_inner{
          height: 100%;
          width: 100px;
          .scrub_ring{
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            border-radius: 50%;
            border: 3px solid rgba(255,255,255,.5);
            box-sizing: border-box;
            animation: scrubPulse 2s ease-in infinite;
          }
          #scrub_ring-large{
            height: 60px;
            width: 60px;
            top: 20px;
          }
          #scrub_ring-small{
            height: 40px;
            width: 40px;
            top: 30px;
            animation-delay: .5s;
          }
        }
      }
    #scrub_hotspot_container.inactive{
        opacity: 0;
        #scrub_ring-large{
        }
    }
    #scrub_hotspot_container.active{
      #scrub_hotspot{
        transform: translate3d(0, 0, 0) !important;
        transition: all 1s ease;
      }
    }



    #logo_container{
      height: 150px;
      width: 150px;
      position: relative;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 20%;
      z-index: 99;
      transition: all 1s ease;
    }
      .transition{
        transition: all .2s ease;
      }
      #logo_mover{
        height: 100%;
        width: 100%;
      }
        #logo{
          height: 100%;
          width: 100%;
        }
          #logo_svg{
            fill: #EC008C;
          }
/* Mobile Styles */
#stage.mobile_device{
  #title_letters{
    display: none !important;
  }
}

/* Media Queries */

@media screen and (max-width: 1200px){
  #zoetrope_container{
    transform: scale(.9) translate3d(0,-50%,0) !important;
  }
}

@media screen and (max-width: 880px){
  #zoetrope_container{
    transform: scale(.7) translate3d(0,-50%,0) !important;
  }
  #title{
    font-size: 110px;
    transform: translateY(10%);
  }
  #subtitle{
    opacity: 0;
    transform: scale(0);
  }
}

@media screen and (max-width: 800px){
  #menu_heading, #menu_subheading{
    // transform: scale(.6);
  }
}

@media screen and (max-width: 620px){
  #title{
    font-size: 90px;
    transform: translateY(10%);
  }
}

@media screen and (max-width: 490px){
  #title{
    font-size: 60px;
  }

}

//mobile
#stage.mobile_device{
  #scrub_hotspot{
    display: block;
  }
}

@media screen and (max-width: 667px) and (orientation: landscape){
  #logo_container{
    transform: translateY(0%);
  }
  #scrub_hotspot_container{
    bottom: 10%;
  }
  #title_letters{
    display: none;
  }
  #menu_titles{
    top: 50% !important;
    transform: translateY(-50%) !important;
  }
    #menu_heading{
      font-size: 1.6em !important;
    }
}

@media screen and (max-width: 420px){
    #logo_container{
      height: 200px;
      width: 200px;
      transform: translateY(20%);
    }
    #timelapse_reel-1{
      background-image: url('../imgs/tl_vertical-1.jpg') !important;
      background-size: 100% 100% !important;
    }
    #timelapse_reel-2{
      background-image: url('../imgs/tl_vertical-2.jpg') !important;
      background-size: 100% 100% !important;
    }
    #timelapse_overlay{
      display: none;
    }
    #title_letters{
      opacity: 0;
    }

    //menu
    #menu_container{
      #menu_titles{
        #menu_heading{
          font-size: 1em;
        }
        #menu_subheading{
          font-size: .5em;
          letter-spacing: .5px;
        }
      }
      #menu_contact{
        font-size: 0.6em;
      }
    }
}

//Animations
@keyframes fillPlayButton{
  to{stroke-dashoffset: 0}
}

@keyframes menuTopBarMove{
  0%{transform: translate3d(0,0,0);}
  50%{transform: translate3d(0,55px,0);}
  100%{transform: translate3d(0,55px,0) rotate(45deg);}
}

@keyframes menuBottomBarMove{
  0%{transform: translate3d(0,0,0);}
  50%{transform: translate3d(0,-55px,0);}
  100%{transform: translate3d(0,-55px,0) rotate(-45deg);}
}

@keyframes videoContainerHover{
  0%{transform: translate3d(0,-50%,0);}
  20%{transform: translate3d(1%,-49%,0);}
  40%{transform: translate3d(-2%,-52%,0);}
  60%{transform: translate3d(-2%,-47%,0);}
  100%{transform: translate3d(2%,-51%,0);}
}

@keyframes scrubPulse{
  0%{transform: scale(.5);opacity: 0;}
  40%{opacity: 1;}
  100%{transform: scale(1.2); opacity: 0;}
}

