doctype xml
svg(version="1.1", id="close_button", x="0px", y="0px", viewBox="0 0 200 200", enable-background="new 0 0 200 200", xml:space="preserve")
  path(id="close_button_path" fill="#FFFFFF" d="M177,33.2L35.6,174.6L25,164L166.4,22.6L177,33.2z M25,33.2l141.4,141.4L177,164L35.6,22.6L25,33.2z")
  X
