doctype xml
svg(version="1.1", id="home_icon", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 200 200", enable-background="new 0 0 200 200", xml:space="preserve")
  path#building(fill="#000" d="M160.2,196h-125V6h125V196z")
  path#door(fill="#fff" stroke="#000000" stroke-miterlimit="10" d="M88.3,160.3H51V95.7h37.3V160.3z")
  path#stair_top(fill="#fff" stroke="#000000" stroke-miterlimit="10" d="M92.3,168.8H46.7v-8.4h45.7V168.8z")
  path#stair_middle(fill="#fff" stroke="#000000" stroke-miterlimit="10" d="M94.3,181.2h-50v-8.4h50V181.2z")
  path#stair_bottom(fill="#fff" stroke="#000000" stroke-miterlimit="10" d="M97.1,193H41.7v-8.4h55.4V193z")
  path#window_top-left(fill="#fff" stroke="#000000" stroke-miterlimit="10" d="M88.3,70H51V27h37.3V70z")
  path#window_top-right(fill="#fff" stroke="#000000" stroke-miterlimit="10" d="M145.4,70H108V27h37.3V70z")
  path#window_bottom-right(fill="#fff" stroke="#000000" stroke-miterlimit="10" d="M145.4,138.7H108v-43h37.3V138.7z")
  X



