#menu_container
  #menu_titles
    h1#menu_heading Welcome
    h2#menu_subheading We are currently under construction
  ul#menu
    li.nav_option home
    li.nav_option portfolio
    li.nav_option experience
    li.nav_option contact