doctype xml
svg(version="1.1", id="menu_icon", x="0px", y="0px", viewBox="0 0 200 200", enable-background="new 0 0 200 200", xml:space="preserve")
  rect.menu_bar#menu_bar-1(y="30",fill="#EC008C",height="32.8")
  rect.menu_bar#menu_bar-2(y="85",fill="#EC008C",height="32.8")
  rect.menu_bar#menu_bar-3(y="140",fill="#EC008C",height="32.8")
  X