#page-1.page
  video#homepage_timelapse(loop="true", play="true")
    source(src="/imgs/phreaks.mp4" type="video/mp4")
  #logo_container
    #logo_mover.transition
      include logo.jade
  #title.transition weckel
  #subtitle.transition storyteller, developer, creative director
  include ../extras/arrow-1.jade