#page-1.page
  #timelapse_container
    #timelapse_inner
      #timelapse_reel-1.timelapse_reel
      #timelapse_reel-2.timelapse_reel
  #logo_container
    #logo_mover.transition
      include logo.jade
  #title.transition weckel
  #subtitle.transition storyteller, developer, creative director
  include ../extras/arrow-1.jade
  #timelapse_overlay