doctype xml
svg(version="1.1", id="logo",x="0px", y="0px", viewBox="0 0 200 200", enable-background="new 0 0 200 200", xml:space="preserve")
  path(fill="#EC008C" d="M113,177.7H88v-125h25V177.7z M153,22.4h-25v125h25V22.4z M73.1,22.4h-25v125h25V22.4z")
  X