doctype xml

svg(version="1.1", id="Layer_2", x="0px", y="0px", viewBox="0 0 200 200", enable-background="new 0 0 200 200", xml:space="preserve")
 path#circle(d="M197,101c0,53.7-43.5,97.2-97.2,97.2S2.6,154.6,2.6,101S46.1,3.8,99.8,3.8S197,47.3,197,101z")
  X
