doctype xml
svg(version="1.1", id="menu_icon", x="0px", y="0px", viewBox="0 0 200 200", enable-background="new 0 0 200 200", xml:space="preserve")
  rect.menu_bar#menu_bar-1(y="30",fill="#EC008C",height="32.8")
  rect.menu_bar#menu_bar-2(y="85",fill="#EC008C",height="32.8")
  rect.menu_bar#menu_bar-3(y="140",fill="#EC008C",height="32.8")
  X
  //- <rect class="menu_bar" id="menu_bar-2" y="85" fill="#EC008C"  height="32.8"/>
  //- <rect class="menu_bar" id="menu_bar-3" y="140" fill="#EC008C" height="32.8"/>

//- have to add
//- #menu_container
//-   ul#menu
//-     li

 //- for reference
//- doctype xml
//- svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",width="144px",height="144px",viewBox="0 0 1440 1440")
//-   style(type="text/css") @import url(index.css)
//-   script(type="text/javascript",xlink:href="http://codeorigin.jquery.com/jquery-1.10.2.min.js")
//-   script(type="text/javascript",xlink:href="index.js")
//-   path#rect(d="M1168.981,768.024c0.008-1.008,0.019-2.014,0.019-3.024c0-198.823-161.177-360-360-360c-92.053,0-176.032,34.554-239.686,91.393C560.008,495.477,550.563,495,541,495c-149.117,0-270,114.167-270,255c0,6.03,0.238,12.006,0.674,17.932C169.444,781.873,90,870.103,90,976v30c0,115.5,94.5,210,210,210h840c115.5,0,210-94.5,210-210v-30C1350,870.329,1270.895,782.252,1168.981,768.024z")
//-   text#text(x="720",y="920",fill="#fff",text-anchor="middle",style="font-size:280px") X


